Package: d2d
Version: 1.0
Architecture: all
Maintainer: Walter V. Faustine <waltervfaustine@gmail.com>
Installed-Size: 13
Depends: bash
Section: base
Priority: optional
Homepage: https://github.com/waltervfaustine/d2d-dhis-docker-implementation
Description: DHIS2 Docker Installer Tool
 A command-line tool to manage DHIS2 installation using Docker.
  .
  This tool simplifies the process of setting up and managing DHIS2 instances
  using Docker containers. It automates the installation and configuration
  steps, making it easier to deploy and maintain DHIS2 environments.
